.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-left: 70px;
    max-width: 398px;
    margin-top: 20px;
}

.post-card {
    border-radius: 10px;
    height: auto; 
    width: 70%;
    
}

.post-card-content {
    display: flex;
    align-items: center;
    height: 90%;
    margin-bottom: -13px;
}

.post-avatar-box {
    display: flex;
    align-items: center;
    width: 100%;
}

.post-avatar {
    margin-top: 0.5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-username {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 960px) {
    .post-container {
        grid-template-columns: repeat(2, 1fr); 
        width: 50%;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .post-container {
        grid-template-columns: 1fr;
        margin-left: 10px;
        width: 70%;
        margin-top: 15px;
    }
    .post-card {
        width: 55%;
        margin-left: 8px;
        height: auto;
    }
}
