.singlepost-card {
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
  height: auto; 
  display: flex;
  flex-direction: row;
  font: 1em sans-serif;
}

.singlepost-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  flex-direction: row;
  width: 100%;
}

.singlepost-card-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.singlepost-avatar-box {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: -10px;
}

.singlepost-avatar {
  margin-top: 0.5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.singlepost-username {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.singlepost-info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em; 
}

.singlepost-info-item {
  display: flex;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif; 
  letter-spacing: 0.5px;
  font-size: 2em; 
}

.singlepost {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
}

.singlepost-left {
  background-color: rgb(187, 180, 167);
  width: 27%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 0px;
}

.singlepost-right {
  height: 100%;
  padding: 46px;
  box-sizing: border-box;
  align-items: center;
  width: 50%;
}

.singlepost-url-scroller {
  position: relative;
  display: flex;
  align-items: center;
}

.singlepost-url-images {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.singlepost-url-image {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.singlepost-url-image:hover {
  transform: scale(1.1);
}

.scroll-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: -10px;
}

.scroll-button.right {
  right: -10px;
}

.singlepost-url-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .singlepost-info {
    margin-top: 40px;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em; 
  }

  .singlepost-info-item {
    display: flex;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif; 
    letter-spacing: 0.5px; 
  }

  .singlepost-card {
    width: 90%; 
    margin: 20px auto;
    flex-direction: column; 
  }

  .singlepost-left, .singlepost-right {
    width: 100%; 
    height: auto; 
    padding: 8px;
    margin-left: 0px;
  }

  .singlepost-info {
    margin-top: 10px;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .singlepost-username {
    font-size: 18px;
  }

  .singlepost-avatar {
    width: 40px;
    height: 40px;
  }

  .singlepost-info-item {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: large;
  }

  .singlepost-urls {
    text-align: left;
  }

  .singlepost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 0px;
  }

  .scroll-button {
    width: 20px;
    height: 20px;
  }

  .scroll-button.left {
    left: 0;
  }

  .scroll-button.right {
    right: 0;
  }

  .singlepost-url-image {
    width: 60px;
    height: auto;
  }
}