.slider-container {
    max-width: 400px;
    flex-grow: 1;
    position: relative;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 16px;
}

  @media (max-width: 960px) {
    .slider-container.medium-screen {
        max-width: 45%; 
        margin-left: 30px;
    }
  }
  .slider-container {
  width: 80%; 
  margin: 0 auto; 
}

.slider-image-wrapper {
  margin-left: 10px; 
  padding: 20px; 
}

.slider-image {
  width: 100%;
  height: auto;
  display: block;
}

  @media (max-width: 600px) {
    .slider-container.small-screen {
        justify-content: center; 
        margin-left: 50px;
        width: 100%;    }
  }
  