.slider-container {
    max-width: 400px;
    flex-grow: 1;
    position: relative;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 16px;
}

  @media (max-width: 960px) {
    .slider-container.medium-screen {
        max-width: 45%; /* Adjusts to 2 per row */
        margin-left: 30px;
    }
  }
  .slider-container {
  width: 80%; /* Customize based on your needs */
  margin: 0 auto; /* Centers the slider horizontally */
}

.slider-image-wrapper {
  /* Padding and margin styles here */
  margin-left: 10px; /* Highlighted: Adjust this as needed */
  padding: 20px; /* Highlighted: Adjust this as needed */
}

.slider-image {
  width: 100%;
  height: auto;
  display: block;
}

  @media (max-width: 600px) {
    .slider-container.small-screen {
        justify-content: center; /* Center items in mobile view */
        margin-left: 50px;
        width: 100%;    }
  }
  