.top-users-container {
    max-width: 1000px;
    margin: 0 auto; 
    padding: 20px;
  }
  
  .top-users-title {
    margin-bottom: 20px;
    white-space: nowrap; 
    margin-top: 0px;
    margin-left: 20px;
    align-items: center;
  }
  
  .users-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    border-radius: 10px; 
    background-color: #fff; 
  }
  
  .user-info {
    flex: 0 1 calc(20% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 20px; 
  }
  
  .user-info p {
    margin: 5px 0 0;
    color: #666;
    text-align: center;
  }
  
  .avatar {
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
  }
  