.top-collections-container {
  max-width: 1000px;
  margin: 0 auto; 
  padding: 20px; 
}
.header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.collections-wrapper {
  display: flex;
  justify-content: center;
  width:90%;
  margin-left: 80px; 

}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.collection-box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 28%;
  margin-left: auto;
  margin-right: auto;
}

.collection-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f5f5f5;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.collection-details {
  flex-grow: 1;
}

.collection-details h3 {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 960px) {
  .collection-box {
    max-width: 45%; 
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .collections-wrapper {
    justify-content: center; 
    margin-left: 30px;
    width: 100%;
  }

  .collection-box {
    max-width: 90%; 
    margin-left: 0;
    margin-right: 0;
  }
}
